.loading-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 2rem;
  font-size: 1.2rem;
  color: #333;
  height:50%;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ede3cc;
  border-top: 3px solid #a5533f;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
