/* Basic modal styling */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    background-color: white;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    transform: translateX(100%); /* Initially off-screen */
    transition: transform 0.3s ease-out;
  }
  
  .modal.show {
    transform: translateX(0); /* Slide in when visible */
  }
  
  .modal-container {
    overflow-y: auto;
    max-height: calc(100% - 60px);
    position: relative;
  }
  
  .cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
    width:45%;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-details {
    font-size: 14px;
    color: #555;
  }
  
  .plus,
  .minus,
  .remove {
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    justify-content: right;
    border-radius: 15px;
    font-size: 15px;
  }
  
  .plus:hover,
  .minus:hover,
  .remove:hover {
    background-color: #21867a;
  }
  
  .remove {
    background-color: #a5533f;
  }
  
  .remove:hover {
    background-color: rgb(138, 64, 45);
  }
  
  .empty {
    font-size: 16px;
    color: #777;
  }
  
  /* Checkout button styling */
  .checkout {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    justify-content: center;
    margin-left:25%;
  }
  
  .checkout:hover {
    background-color: #21867a;
  }
  
  /* Close button styling */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #777;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .close-btn:hover {
    background-color: #555;
  }
  
  .in {
    width: 50px;
    height: 30px;
    text-align: center;
  }