/*body.modal-open {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

body.modal-open .navbar-container {
  background-color: transparent; /* Or rgba(0, 0, 0, 0) 
}

/* Make the root element transparent when the modal is open 
body.modal-open #root {
  background-color: transparent; /* Or rgba(0, 0, 0, 0) 
}

/* You might also need to do this for your main content area (.body in your case) 
body.modal-open .body {
  background-color: transparent; /* Or rgba(0, 0, 0, 0) 
}

/* Your existing styles for #root and .body (e.g., default background) 
#root {
  /* Your other styles 
  background-color: white; /* Or your default background color 
  /* ... other styles ... 
}

.body {
  /* Your other styles 
  background-color: white; /* Or your default background color 
  /* ... other styles ... 
}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
