/*body.modal-open {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

body.modal-open .navbar-container {
  background-color: transparent;  
}

body.modal-open #root {
  background-color: transparent; 
}


body.modal-open .body {
  background-color: transparent; 
}

#root {
  background-color: white; 
}

.body {
  background-color: white;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#root {
  background-color: #ede3cc;
}

body {
  background-color: #ede3cc;
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
